#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.compassDiv {
  width: 100%;
  height: 100%;
}

.top-div {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #666f38;
  background-image: linear-gradient(to bottom, #f7ecd1, #c2a373);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.bottom-div {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #666f38;
}
.flexbox-bottom {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
