#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.compassDiv {
  width: 100%;
  height: 100%;
}

.bottom-div {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #666f38;
}
.gradient-div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
